node_modules
.next
.env.local
dist
.vercel
"swap-crm-firebase-adminsdk-fbsvc-fa25c5298b.json" 
swap-crm-firebase-adminsdk-fbsvc-fa25c5298b.json 
swap-crm-firebase-adminsdk-fbsvc-fa25c5298b.json 
